/* GRID */
body, html {
    padding: 0;
    margin: 0;
	overflow-x:hidden !important;
}

iframe {border:0;
}
input,
textarea {
	outline:none !important;
	resize:none;
	-webkit-appearance: none;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}

.color {color:#5b93b8;
}

/** MAIN **/
html {
  font-size: 62.5%;
}
body {
	color: #003a40;
    font-family: "Miriam Libre","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;	
	line-height: 2.2rem;
	background: #fff;	
	margin: 0;
	padding: 0;
}
::selection{
	background: #5b93b8;
	color: #ffffff;
}
::-moz-selection {
	background: #5b93b8;
	color: #ffffff;
}
.wrapper {overflow:hidden;
}
a {
	color: #4eb4e4;
	text-decoration:none !important;
}
a:hover { color: #2980b9;
}
strong { font-weight: 700;
}
.center {text-align: center;
}
.justify {text-align: justify;
}
p {
	padding:0;
	margin:0 0 10px 0;
}


/** HEADER **/
#top {
	background:#fff;
	border:none;
	position:absolute;
	left:0;
	top:0;
	width:100%!important;
	z-index:999;
}
#top header,
.fixed-menu-wrapper {
	padding: 10px 0;
}
.fixed-menu {
	border:none;
	position:fixed;
	left:0;
	top:-100px;
	background:#fff;
	z-index:9999;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width:100% !important;
	transition: all 250ms;
	-webkit-transition: all 250ms;
}
.fixed-menu.fixed_show {
	top:0;
	opacity: 1;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.2);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/* Logo */
#logo {
	float:left;
	vertical-align:top;
}

/*Menu*/
.navmenu{
	margin: 0;
	padding:0;
	float:right;
}
.navmenu ul li {
	display: inline-block;
	vertical-align:top;
	list-style: none;
    margin: -2px 0 0 0;
    position: relative;
	text-transform: uppercase;
}
.navmenu ul li a {
	border-radius: 0.5rem;
	color: #003a40;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.2rem;
	margin-right: 1.5rem;
	padding: 1rem 1.5rem 0.75rem;
	text-decoration:none !important;
	outline:none;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	position:relative;
}
.navmenu li a:hover,
.navmenu li.active a {
    color: #4caf5b;
}
/*.navmenu ul li a:before {
	position:absolute;
	left:50%;
	right:50%;
	width:0;
	height:1px;
	bottom:3px;
	content:'';
	background:#2d2e2e;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.navmenu li a:hover:before,
.navmenu li.active a:before {
    width:100%;
	left:0;
	right:0;
}*/
a.menu_toggler {display:none;
}
.mobile_menu_wrapper {display:none;
}
.navmenu ul li:last-child {margin-right:0;
}

/* Main Slider */
#home {
    padding-top: 90px;
}
.full_slider {
	background-position:center center;
	background-repeat:no-repeat;
}
.full_slider.preloader {
	background-image:url(../img/preloader.gif);
}
.full_slider_caption {
    position:absolute;
	top:50%;
	left:0;
	right:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	text-align:center;
	color: #2d2e2e;
    font-size: 18px;
    font-weight: 300;
	line-height: 27px;
    margin: 0;
    text-shadow: none;
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	float:none;
	z-index: 3;
}
.full_slider_caption img {
	width:auto !important;
	margin:0 auto;
}
.dark-bg {
	position: absolute;
	bottom: 0;
	right: -4px;
	background-image: url(../img/bgs/top-dark.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.green-bg {
	position: absolute;
	bottom: 0;
	left: -4px;
	background-image: url(../img/bgs/top-green.svg);
	background-position: left bottom;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	z-index: 1;
}
/*CountDown*/
.global_count_wrapper {
    text-align: center;
    overflow: hidden;
	padding-top:104px;
	padding-bottom:67px;
}
.countdown-rtl {
    direction: rtl;
}
.countdown-row {
    clear: both;
    width: 100%;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.countdown-section {
    display: inline-block;
    text-align: center;
	margin-right:10px;
	width:152px;
	height:124px;
	position:relative;
	margin-bottom:20px;
	padding-top:21px;
	padding-bottom:0;
	background: rgba(0,57,63,0.6);
}
.countdown-section:last-child {
	margin-right:0;
}
.countdown-amount {
    font-size: 90px;
    line-height: 92px;
    color: #fff;
    font-weight: 300;
    padding: 0;
	margin-bottom:3px;
}
.countdown-period {
    padding: 0 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    display: block;
    width: 100% !important;
    text-align: center !important;
    position: relative;
    text-transform: none;
    margin: 0;
}

.shortcode_button {
	display:inline-block;
	margin:0 0 5px 0;
	text-decoration:none;
	border:none;
	background-color:#feda65;
	color: #00393f;
	font-weight: bold;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	line-height:41px;
	font-size:18px;
	padding:12px 30px 14px 30px;
	font-weight:300;
	text-transform:uppercase;
	vertical-align:middle;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.5);
-moz-box-shadow:    0px 0px 16px 0px rgba(38, 38, 38, 0.5);
box-shadow:         0px 0px 16px 0px rgba(38, 38, 38, 0.5);
}
.announce {
	background: rgba(254,218,101,0.8) url(../img/bgs/dark-arrow.svg) no-repeat 96% center;
	background-size: 17px;
	color: #00393f;
	font-weight: bold;
	font-size:16px;
	padding:12px 50px 14px 20px;
	font-weight:300;	
	vertical-align:middle;
	text-align:left;
	border-radius:5px;
	-webkit-border-radius:5px;
	margin: 20px auto 0 auto;	
	-webkit-box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.5);
    -moz-box-shadow:    0px 0px 16px 0px rgba(38, 38, 38, 0.5);
    box-shadow:         0px 0px 16px 0px rgba(38, 38, 38, 0.5);
}
.announce-2 {
	background: rgba(255,255,255,0.8) url(../img/bgs/dark-arrow.svg) no-repeat 96% center;
	background-size: 17px;
}
.announce a {
	color: #00393f;
}
.announce strong {
	font-size:17px;
}
.shortcode_button:hover {
	background-color:#fff;
	color: #00393f;
}

.next_section {
	position:absolute;
	left:50%;
	bottom:30px;
	width:24px;
	height:42px;
	margin-left:-12px;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	background-image:url(../img/sprite.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
.next_section:hover {
	opacity:0.7;
}

.stretch {
	background-position:center center;
	background-size:cover;
	-webkit-background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

h2 {
	line-height:39px;
	color:#4eb4e4;
	font-weight:bold;
	font-size:30px;
	margin:0;
	padding:0 0 18px 0;
	text-transform:none;
}
.entry-content {
  font-family: "Sintony","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.entry-content table {
	border: 1px solid #4eb4e4;
	margin-bottom: 30px;
}
.entry-content table td {
	border: 1px solid #4eb4e4;
	padding: 5px 7px;
	font-size: 14px;
}
.page_section .inner {
	padding: 62px 0;
}
.page_section.header {
	margin-top: 90px;
}
.page_section.triangle {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: block;
    margin: 15rem 0 0;
    position: relative;
    width: 100%;
    z-index: 0;
	height: 64rem;
}
.page_section.triangle .overlay-top {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 100rem;
  position: absolute;
  top: -33.1rem;
  width: 100%;
}
.page_section.triangle .overlay-bottom {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -67rem;
  content: "";
  display: block;
  height: 100rem;
  position: absolute;
  width: 100%;
}
.page_section.triangle h2, .page_section.triangle .descr, .dark_blue_wrap h2, .dark_blue_wrap .descr {
  color: #fff;
}
.page_section.triangle [class^="col-"], .page_section.triangle [class*=" col-"] {
  left: 0;
  position: absolute;
  top: -5rem;
  z-index: 1;
}
.blue_wrap {
	background:#287db3;
}
.page_section.common h2 {
	margin-top: 30px;
	
}
.page_section.common ul {
	margin-bottom: 10px;
	padding-left: 20px;
}
.dark_blue_wrap {
	background:#287db3;
	color: #fff;
	padding: 62px 0;
}

.rhomb_block {
	margin-right: auto;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin-left:20px;
}
.rhomb_block.col3 {
	width:606px;
}
.rhomb_block.col4 {
	width:808px;
}
.rhomb_block .odd {
	text-align:left;
}
.rhomb_block .even {
	text-align:right;
}
.rhomb {
	width:193px;
	height:193px;
	display:inline-block;
	vertical-align:top;
	margin:0 0 9px 5px;
}
.rhomb_block .even .rhomb {
	margin:0 4px 9px 1px;
}

.welcome_text,
.speaker_text {
	padding:39px 0;
}
.welcome_text p,
.speaker_text p {padding-right:30px;
}
.speaker_text {
	padding-top:75px;
}
.descr {
	position:relative;
	line-height:27px;
	padding:0 0 20px 0;
	font-size:18px;
	font-weight:300;
	color:#2980b9;
}
/* Rule */
ol li {
    list-style: decimal;
}
ol li ol li {
    list-style: lower-alpha;
}
/* Partners */
.partners .partner {
    display: inline-block;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 10px;
    background: #fff;
}
.partners .partner img {
    max-height: 100%;
}
/* Padding */
.pt9 {
	padding-top:9px;
}
.pt20 {
	padding-top:20px;
}
.pt110 {
	padding-top:110px;
}
.pt130 {
	padding-top:130px;
}
.pt170 {
	padding-top:170px;
}
.pb165 {
	padding-bottom:165px;
}
.pb123 {
	padding-bottom:123px;
}
.pb85 {
	padding-bottom:85px;
}
.pb30 {
	padding-bottom:30px;
}
.pt16 {
	padding-top:16px;
}
.pt108 {
	padding-top:108px;
}
.pb106 {
	padding-bottom:106px;
}
.pb52 {
	padding-bottom:52px;
}

/* Margin */
.mb30 {
	margin-bottom:30px;
}
.mb35 {
	margin-bottom:35px;
}

.btns {
	padding-top:21px;
}
.btns .shortcode_button {
	margin-right:26px;
	line-height:24px;
	font-size:16px;
	padding:7px 30px 9px 30px;
}
.shortcode_button.type2 {
	background:#5a6383;
}
.shortcode_button.type2:hover {
	background:#6c779e;
}



/*Tabs*/
.all_heads_cont {
	display:block;
	clear:both;
	text-align:center;
	padding-bottom:51px;
}
.shortcode_tab_item_title {
	background:#5a6383;
	display:inline-block;
	vertical-align:top;
	margin:0 9px 9px 0;
	cursor:pointer;
	padding:7px 30px 9px 30px;
	font-size:16px;
	line-height:24px;
	position:relative;
	z-index:10;
	color:#ffffff;
	font-weight:300;
	border:0;
	text-transform:none;
}
.shortcode_tab_item_title:hover,
.shortcode_tab_item_title.active {
	background:#6c779e;
	color:#fff;
}
.shortcode_tab_item_title.active {
	cursor:default;
	background:#5b93b8 !important;
	color:#fff;
}
.all_body_cont {
	position:relative;
}
.shortcode_tab_item_body {
	display:none;
}
.shortcode_tab_item_body.active {
}

/* Reports block */
.reports_block {
	position:relative;
	overflow:hidden;
}
.reports_block:before {
	position:absolute;
	width:170px;
	height:36px;
	background:#fff;
	left:50%;
	margin-left:-85px;
	content:'';
	z-index:50;
}
.report {
	width:100%;
	padding:20px 20px 15px 20px;
	background:#f6f6f6;
	margin-bottom:30px;
	position:relative;
}
.info {
	padding:13px 20px;
	background:#dddddd;
	font-size:14px;
	color:#2d2e2e;
	margin-bottom:14px;
}
.info .fleft span {
	margin-right:14px
}
.info i {
	font-weight:normal;
	color:#2d2e2e;
}
.info a {
	color:#2d2e2e;
}
.info a:hover,
.info a:hover i {
	color:#5b93b8;
}
.report:before {
	width:1px;
	height:1000px;
	background:#cdcdcd;
	position:absolute;
	content:'';
	right:-85px;
	top:0;
	margin-top:-955px;
	z-index:10;
}
.fright .report:before {
	right:auto;
	left:-86px;
}
.report:after {
	width:37px;
	height:1px;
	background:#cdcdcd;
	position:absolute;
	content:'';
	right:-57px;
	top:44px;
	z-index:15;
}
.fright .report:after {
	right:auto;
	left:-57px;
}
.thumb {
	position:relative;
}
.thumb img {
	width:100%;
	height:auto;
}
.thumb:before {
	width:15px;
	height:15px;
	background:#5b93b8;
	position:absolute;
	border-radius:50%;
	-webkit-border-radius:50%;
	content:'';
	right:-112px;
	top:16px;
	z-index:55;
	box-shadow:0 0 0 20px #fff;
	-webkit-box-shadow:0 0 0 20px #fff;
}
.fright .thumb:before {
	right:auto;
	left:-112px;
}
h4 {
	font-weight: bold;
}
h5 {
	font-size:18px;
	color:#2d2e2e;
	font-weight:300;
	line-height:27px;
	padding:0;
	margin:0 0 7px 0;
}

h6 {
	font-size:16px;
	color:#2d2e2e;
	font-weight:300;
	line-height:24px;
	padding:0;
	margin:0 0 9px 0;
}

h3 {
	font-size:24px;
	color:#2d2e2e;
	font-weight:400;
	line-height:28px;
	padding:0;
	margin:0 0 24px 0;
}

.report h5 a,
.report h6 a,
h3 a {
	color:#2d2e2e;
}
.report h5 a:hover,
.report h6 a:hover,
h3 a:hover {
	color:#5b93b8;
}
ul.list {
	list-style: disc;
}
ul.list li {
	list-style: disc;
}
.subscribe_block {
	padding-top:108px;
	padding-bottom:102px;
	background-image:url(../img/bgs/bg1.jpg);
}
.subscribe_form {
	margin-top:140px;
	position:relative;
}
/** Speakers **/
.speakers-slider {
	position: relative;
	z-index: 20;
}
.slick-arrow {
	position: absolute;
	top: 20px;
	font-size: 62px;
	cursor: pointer;
}
.slick-arrow.fa-angle-left {
	left: -30px;
}
.slick-arrow.fa-angle-right {
	right: -30px;
}
.speakers-slider .speaker .photo {
	float: left;
	margin: 0 15px;
	overflow: hidden;
	height: 96px;
	width: 96px;
	border-radius: 50%;
}
.speakers-slider .speaker .name {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}
.speakers-slider .speaker .topic {
	font-size: 18px;
}
/** Sponsors **/
.sponsor-group h3 {
	font-size: 18px;
	font-weight: bold;
}
.sponsor-group {
	margin-bottom: 30px;
}
.partner img {
	max-width: 100%;
	position:absolute;
    top:0;
    bottom:0;
    margin:auto;    
	max-height: 100%;
	width: auto;
	height: auto;
}
.partner a {
	display: block;
    height: 60px;
    position:relative;

}
/** Contact Section **/
form input[type="text"],
form textarea {
	background: #fff;
	margin: 0 0 30px 0;
	padding: 7px 10px 9px 10px;
	width: 100%;
	border:1px #cdcdcd solid;
	outline:none;
	border-radius:0;
	-webkit-border-radius:0;
	box-shadow:none;
	font-size:14px;
	color:#666666;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	line-height:22px;
}
form textarea {
	height:150px;
}

input.send_btn,
input.subscribe {
	cursor: pointer;
	background: #5b93b8 !important;
	color: #fff !important;
	margin: 0 0 30px 0 !important;
	border-radius: 0 !important;
	-webkit-border-radius:0 !important;
	display: inline-block;
	padding: 0 30px !important;
	height:40px;
	line-height:39px;
	font-size: 16px !important;
	font-weight: 300 !important;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	-webkit-transition:all 0.4s ease;
    transition:all 0.4s ease;
	border:0 !important;
	text-transform:none;
}
input.send_btn:hover,
input.subscribe:hover {
    background-color:#68a7d0 !important;
    text-decoration: none;
	color:#fff !important;
}

input.subscribe {
	position:absolute;
	top:0;
	right:15px;
	width:130px;
	padding-left:0;
	padding-right:0;
}

.subscribe_form form input[type="text"] {
	width:calc(100% - 150px);
	font-size:16px;
}
/*** Program ***/
.page_section.common .program .nav-tabs {
	border: none;
	text-align: center;
	margin-bottom: 20px;
}
.program .nav-tabs li {
	display: inline-block;
	float: none;
}
.program .nav-tabs li a {
	border: none;
	background: #f2f2f2;
	border-radius: 5px;
	color: #00393f;
}
.program .nav-tabs li.active a, .program .nav-tabs li a:hover {
	border: none;
	background: #4cb05b;
	border-radius: 5px;
	color: #fff;
}
.entry-content .program table {	
	font-size: 16px;
	border: none;
}
.entry-content .program table td {
	vertical-align: top;
	border: none;
	font-size: 16px;
}
.entry-content .program table td.time {
	font-size: 14px;
	color: #7a7a7a;	
}
.entry-content .program .speaker {
	color: #287db3;
}
/*** Footer ***/
.content-info {
  background-color: #fff;
  background-image: url("../img/bgs/footer.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 65rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.content-info .lets-connect {
  font-size: 1.8rem;
  position: absolute;
  top: 24rem;
  width: 100%;
  z-index: 1;
}
.content-info .colophon {
  bottom: 0;
  font-size: 1.2rem;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 1;
}
.content-info .lets-connect .title {
  color: #fff;
	font-weight: bold;
}
.content-info .lets-connect p {
  float: left;
  line-height: 3rem;
  margin: 0 2rem 1rem 0;
}
.content-info .subscriptions p {
  float: none;
}
.content-info .social-media .social {
  display: flex;
}
.content-info ul {
  list-style-position: inside;
  padding: 0;
}
.list-inline > li {
  display: inline-block;
  position: relative;
}
.list-inline > li {
  padding-left: 5px;
  padding-right: 5px;
}
.content-info .social-media .social a {
  background-color: #003a40;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  height: 4.4rem;
  line-height: 4.8rem;
  text-align: center;
  width: 4.4rem;
}
/* Placeholder */
::-webkit-input-placeholder {
    opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
   opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 1 !important;
}

:-ms-input-placeholder {
    opacity: 1 !important;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

/** form valid style **/
.notification_error,
.notification_ok {
    border-radius: 0;
	-webkit-border-radius:0;
    margin: 0 0 30px 0;
    padding: 12px 10px 12px 35px;
	position:relative;
	text-align:left;
	line-height:22px;
	font-size:14px;
}
.notification_ok {
    border: 1px #038BD4 solid;
    color: #038BD4;
	background:#D0E3EA;
}
.notification_error {
    border: 1px #C93119 solid;
    color: #C93119;
	background:#FFCFCF;
}
.notification_error:before,
.notification_ok:before {
    content: '';
	width: 16px;
	height: 16px;
	position: absolute;
	left:11px;
	top:13px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.notification_error:before {background-image:url(../img/error.png);
}
.notification_ok:before {background-image:url(../img/info.png);
}

.blog_section {
	padding-top:110px;
	padding-bottom:110px;
}
.post_preview {
	padding-top:50px;
}
.post_preview img,
.post_preview iframe {
	margin-bottom:32px;
	width:100%;
}
.post_preview .shortcode_button {
	margin-top:24px;
	padding:7px 30px 9px 30px;
	font-size:16px;
}

/*Price Table*/
.price_table_wrap {
	padding-top:52px;
}
.price_item_wrapper {
	margin-bottom:30px;
	background:#fff;
	text-align:center;
	border:1px #cdcdcd solid;
	padding:31px 33px 34px 33px;
}
.most_popular {
	border-color:#5b93b8;
	margin-top:-16px;
	margin-bottom:-16px;
}
.price_item_title {
	margin-bottom:25px;
	text-align:center;
	border-bottom:1px #cdcdcd solid;
	padding-bottom:33px;
}
.price_item_title h5 {
	padding:0;
	margin:0 0 14px 0;
	line-height:40px;
	color:#2d2e2e;
	font-size:30px;
	font-weight:300;
	text-align:center;
}
.price_item_title h5 span {
	font-weight:400;
}
.price_item_title h6 {
	padding:0;
	margin:0;
	line-height:24px;
	color:#2d2e2e;
	font-size:16px;
	font-weight:300;
	text-align:center;
}
.price_item_text {
	text-align:center;
	padding-bottom:7px;
	font-size:14px;
	color:#2d2e2e;
}
.price_item_cost {
	padding:22px 0 32px 0;
	text-align:center;
}
.price_item_cost h3 {
	line-height:50px;
	margin:0;
	padding:0;
	color:#262626;
	font-size:48px;
	font-weight:400;
	vertical-align:top;
}
.price_item_cost h3 span {
	line-height:16px;
	display:inline-block;
	vertical-align:top;
	padding-top:1px;
	font-size:16px;
}
.price_item_btn {
}
.price_item_btn a {
	padding:7px 30px 9px 30px;
	font-size:16px;
	background:#5a6383;
	color:#fff;
}
.price_item_btn a:hover {
	background:#6c779e;
}
.most_popular .price_item_btn a {
	background:#5b93b8 !important;
}
.most_popular .price_item_btn a:hover {
	background:#68a7d0 !important;
}

/* Icon Box */
.icon_box {
	margin-bottom:55px;
	text-align:center;
}
.icon_box h6 {
	font-size:18px;
	font-weight:400;
}
.icon_box p,
.icon_box a {
	color:#2d2e2e;
}
.icon_box a:hover {
	color:#5b93b8;
}
.icon_img {
	display:inline-block;
	position:relative;
	padding-bottom:52px;
}
.icon_img:after {
	position:absolute;
	left:50%;
	bottom:16px;
	width:1px;
	height:20px;
	background:#2d2e2e;
	content:'';
}

.module_google_map iframe {
	width:100%;
	margin:0 0 -5px 0;
	overflow:hidden;
	border:0;
}

.contact_form {
	padding-bottom:90px;
}

/* Footer */
.footer {
	background:#f6f6f6;
	line-height:24px;
	padding-top:39px;
	padding-bottom:24px;
	font-size:16px;
	color:#666666;
	text-align:center;
}

/* Socials */
.socials {
	padding-top:32px;
	padding-bottom:14px;
}
.socials li {
	padding:0;
	margin:0 7px 20px 9px;
	display:inline-block;
	vertical-align:top;
}
.socials a {
	width:30px;
	height:30px;
	display:block;
	text-indent:9999px;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
}
.socials a.fb_icon {
	background-position:-29px -1px;
}
.socials a.tweet_icon {
	background-position:-69px -1px;
}
.socials a.dribbble_icon {
	background-position:-109px -1px;
}
.socials a.behance_icon {
	background-position:-149px -1px;
}
.socials a.linkedin_icon {
	background-position:-189px -1px;
}
.socials a.pinterest_icon {
	background-position:-229px -1px;
}
.socials a.fb_icon:hover {
	background-position:-29px -31px;
}
.socials a.tweet_icon:hover {
	background-position:-69px -31px;
}
.socials a.dribbble_icon:hover {
	background-position:-109px -31px;
}
.socials a.behance_icon:hover {
	background-position:-149px -31px;
}
.socials a.linkedin_icon:hover {
	background-position:-189px -31px;
}
.socials a.pinterest_icon:hover {
	background-position:-229px -31px;
}

.hide {
	opacity:0;
}

/* Services */
.services_block {
	margin-left:-31px;
	padding:30px 0 35px 0;
}
.service {
	display:inline-block;
	vertical-align:top;
}
.services_block .odd {
	text-align:right;
}
.services_block .odd .service {
	margin:0 41px 0 45px;
}
.services_block .even {
	text-align:left;
	margin-top:-48px;
}
.services_block .even .service {
	margin:0 45px 0 41px;
}

.service a {
	width:193px;
	height:193px;
	display:block;
	-webkit-transition: all 300ms;
	position:relative;
}

.service a:before {
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:block;
	background:#fff;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	position:absolute;
	content:'';
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	border:2px #fff solid;
}

.service a:hover:before {
	border:2px #5b93b8 solid;
}

.service_in {
	display:block;
	position:absolute;
	top:50%;
	left:0;
	text-align:center;
	width:100%;
	font-size:18px;
	color:#2d2e2e;
	font-weight:300;
	line-height:24px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	margin-top:-5px;
}
.icon {
	display:block;
	text-align:center;
	margin-bottom:15px;
}
/* FAQ */
.question {
    font-weight: bold;
}
.answer {
    margin-bottom: 1em;
}

/* Responsive changes */
@media only screen and (max-width: 767px) {
	#top header {
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left:0;
		background:#eaeaea;
	}
	#top header nav {
		display: none !important;
	}
	a.menu_toggler {
		display:inline-block;
		float:right;
		margin:-17px 20px 0px 0;
		border:#cfcfcf 1px solid;
		border-radius:4px;
		box-shadow:inset #fbfbfb 0 1px 0;
		width:34px;
		height:34px;
		position:absolute;
		overflow:hidden;
		right:0;
		top:50%;

		background-color:#efefef;
		background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
	}
	a.menu_toggler:hover {
		background-color:#f5f5f5;
		background-image: linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -webkit-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -moz-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -ms-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -o-linear-gradient(top, #e9e9e9, #f5f5f5);
	}
	a.menu_toggler:before {
		content:'';
		display:block;
		position:absolute;
		left:7px;
		top:7px;
		width:20px;
		height:20px;
		background-repeat:no-repeat;
		background:url(../img/sprite.png) no-repeat -160px -70px;
	}
	.fixed-menu,
	.fixed-menu:before,
	.fixed-menu:after {
		display:none!important;
	}
	.mobile_menu_wrapper {
		display:block;
		background:#2d2e2e;
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 80px;
		left:0;
		padding:15px 40px 20px 20px;
	}
	.mobile_menu_wrapper a {
		color:#fff;
		font-size:13px;
	}
	.mobile_menu_wrapper a:hover {color:#5b93b8;
	}

	.full_slider_caption .container {
		padding-bottom:0 !important;
	}
	.full_slider_caption .container h2 {
		font-size:30px;
		line-height:34px;
		padding-bottom:5px;
	}
	.full_slider_caption .container p {
		font-size:13px;
		line-height:20px;
	}
	.page_section.triangle .overlay-top {
		background-position: right center;
		height: 45rem;
		top: -20rem;
	}
	.content-info {
  background-position: center bottom;

}
	.content-info .lets-connect {
  font-size: 1.6rem;
  top: 18rem;
}
	.full_slider_caption .container h2 {
  font-size: 20px;
}
	.announce {
		font-size: 13px;
		line-height: 16px;
	}
	

	/*CountDown*/
	.global_count_wrapper {
		padding-top:22px;
		padding-bottom:12px;
	}
	.countdown-section {
		margin-right:10px;
		width:78px;
		height:78px;
		padding-top:10px;
		padding-bottom:14px;
	}
	.countdown-amount {
		font-size: 26px;
		line-height: 34px;
		margin-bottom:0;
	}
	.countdown-period {
		padding: 0;
		font-size: 14px;
		line-height: 20px;
	}

	.next_section {
		display:none;
	}
.shortcode_button {
  font-size: 12px;
  padding: 3px 18px 3px;
	line-height: 16px;
}

	/* Rhomb */
	.rhomb_block {
		margin-left: auto;
		margin-right:auto;
		padding-top:40px;
	}
	.rhomb_block.col3 {
		width:378px;
	}
	.rhomb_block.col4 {
		width:504px;
	}
	.rhomb,
	.team {
		width:117px;
		height:117px;
	}
	.team_avatar {
		width:167px;
		height:167px;
		margin-left:-25px;
		margin-top:-25px;
	}
	h2 {
		line-height:45px;
		font-size:35px;
	}
	.welcome_text p,
	.speaker_text p {padding-right:0;
	}
	.icon {margin-bottom:5px;
	}
	.icon img {width:25%;
	}

	.pt110 {
		padding-top:60px;
	}
	.pt130 {
		padding-top:80px;
	}
	.pt170 {
		padding-top:120px;
	}
	.pb165 {
		padding-bottom:115px;
	}
	.pb123 {
		padding-bottom:73px;
	}
	.pb85 {
		padding-bottom:35px;
	}
	.welcome_text,
	.speaker_text {padding:0;
	}

	.reports_block .fleft,
	.reports_block .fright {
		float:none;
	}
	.reports_block:before,
	.report:before,
	.report:after,
	.thumb:before {
		display:none !important;
	}

	.post_preview iframe {
		height:250px;
	}

	.most_popular {
		margin-top:0;
		margin-bottom:0;
	}

	/* Services */
	.services_block {
		margin:0 auto;
		padding:30px 0 15px 0;
		width:400px;
	}
	.services_block .odd .service {
		margin:0 25px 0 25px;
	}
	.services_block .even {
		margin-top:-28px;
		margin-left:-24px;
	}
	.services_block .even .service {
		margin:0 25px 0 25px;
	}
	.service a {
		width:117px;
		height:117px;
	}
	.service_in {
		font-size:12px;
	}

}

@media only screen and (max-width: 500px) {
	/*CountDown*/
	.countdown-section {
		margin-right:10px;
		width:47px;
		height:47px;
		padding-top:0;
		padding-bottom:0;
	}
	.countdown-amount {
		font-size: 12px;
		line-height: 13px;
		margin-bottom:0;
	}
	.countdown-period {
		padding: 0;
		font-size: 10px;
		line-height: 12px;
	}
	.full_slider_caption .container h2 {
		font-size:20px;
		line-height:24px;
		padding-bottom:5px;
	}

	/* Rhomb */
	.rhomb_block {
		margin-left: auto;
		margin-right:auto;
		padding-top:40px;
		transform:rotate(0);
		-webkit-transform:rotate(0);
		width:193px;
	}
	.rhomb_block.col3,
	.rhomb_block.col4 {
		width:193px;
	}
	.rhomb_block .odd,
	.rhomb_block .even {
		text-align:center;
	}
	.rhomb,
	.team {
		width:193px;
		height:193px;
	}
	.team_avatar {
		width:273px;
		height:273px;
		margin-left:-40px;
		margin-top:-40px;
	}
	.rhomb {
		transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		margin:0 0 100px 0 !important;
	}
	.rhomb.fake {
		display:none !important;
	}


	h2 {
		line-height:45px;
		font-size:35px;
	}
	.welcome_text p,
	.speaker_text p {padding-right:0;
	}
	.icon {margin-bottom:5px;
	}
	.icon img {width:auto;
	}

	.pt110 {
		padding-top:60px;
	}
	.pt130 {
		padding-top:80px;
	}
	.pt170 {
		padding-top:60px;
	}
	.pb165 {
		padding-bottom:35px;
	}
	.pb123 {
		padding-bottom:53px;
	}
	.pb85 {
		padding-bottom:35px;
	}

	.welcome_text,
	.speaker_text {padding:0;
	}

	/* Services */
	.services_block {
		margin:0 auto;
		padding:50px 0 0 0;
		width:193px;
	}
	.services_block .odd .service,
	.services_block .even .service {
		margin:0 auto 90px auto;
	}
	.services_block .even,
	.services_block .odd {
		margin-top:0;
		text-align:center;
	}
	.service a {
		width:193px;
		height:193px;
	}
	.service_in {
		font-size:18px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Menu */
	#logo img {
		width: 180px;
	}
	.navmenu ul li a {
		font-size: 1.5rem;
		margin-right: 1.2rem;
	}
	.page_section.triangle .overlay-top {
		background-position: right center;
		height: 45rem;
		top: -20rem;
	}
	.content-info {
  background-position: center bottom;

}
	.content-info .lets-connect {
  font-size: 1.6rem;
  top: 18rem;
}
	/*CountDown*/
	.global_count_wrapper {
		padding-top:62px;
		padding-bottom:42px;
	}
	.countdown-section {
		margin-right:10px;
		width:117px;
		height:117px;
		padding-top:20px;
		padding-bottom:19px;
	}
	.countdown-amount {
		font-size: 38px;
		line-height: 42px;
		margin-bottom:3px;
	}
	.countdown-period {
		padding: 0;
		font-size: 18px;
		line-height: 24px;
	}

	/* Rhomb */
	.rhomb_block {
		margin-left:10px;
	}
	.rhomb_block.col3 {
		width:378px;
	}
	.rhomb_block.col4 {
		width:504px;
	}
	.rhomb,
	.team {
		width:117px;
		height:117px;
	}
	.team_avatar {
		width:167px;
		height:167px;
		margin-left:-25px;
		margin-top:-25px;
	}
	h2 {
		line-height:45px;
		font-size:35px;
	}
	.welcome_text p,
	.speaker_text p {padding-right:10px;
	}
	.icon {margin-bottom:5px;
	}
	.icon img {width:25%;
	}

	.pt110 {
		padding-top:60px;
	}
	.pt130 {
		padding-top:80px;
	}
	.pt170 {
		padding-top:120px;
	}
	.pb165 {
		padding-bottom:115px;
	}
	.pb123 {
		padding-bottom:73px;
	}
	.pb85 {
		padding-bottom:35px;
	}

	.welcome_text,
	.speaker_text {padding:0;
	}

	.report {
		width:280px;
	}

	.post_preview iframe {
		height:221px;
	}

	/* Services */
	.services_block {
		margin-left:-25px;
		padding:30px 0 35px 0;
	}
	.services_block .odd .service {
		margin:0 25px 0 35px;
	}
	.services_block .even {
		margin-top:-28px;
	}
	.services_block .even .service {
		margin:0 35px 0 25px;
	}
	.service a {
		width:117px;
		height:117px;
	}
	.service_in {
		font-size:12px;
	}

}

@media (min-width: 992px) {
	/* Grid */
	.container {
        width: 990px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }

	/*CountDown*/
	.global_count_wrapper {
		padding-top:72px;
		padding-bottom:53px;
	}
	.countdown-section {
		margin-right:10px;
		width:158px;
		height:138px;
		padding-top:21px;
		padding-bottom:19px;
	}
	.countdown-amount {
		font-size: 62px;
		line-height: 71px;
		margin-bottom:3px;
	}
	.countdown-period {
		padding: 0 20px;
		font-size: 22px;
		line-height: 26px;
	}

	/* Rhomb */
	.rhomb_block {
		margin-left:10px;
	}
	.rhomb_block.col3 {
		width:501px;
	}
	.rhomb_block.col4 {
		width:668px;
	}
	.rhomb,
	.team {
		width:158px;
		height:158px;
	}
	.team_avatar {
		width:224px;
		height:224px;
		margin-left:-33px;
		margin-top:-33px;
	}
	h2 {
		line-height:39px;
		font-size:30px;
	}

	.welcome_text p,
	.speaker_text p {padding-right:30px;
	}
	.report {
		width:395px;
	}

	.post_preview iframe {
		height:294px;
	}

	/* Services */
	.services_block {
		margin-left:-30px;
		padding:30px 0 35px 0;
	}
	.services_block .odd .service {
		margin:0 35px 0 35px;
	}
	.services_block .even {
		margin-top:-38px;
	}
	.services_block .even .service {
		margin:0 35px 0 35px;
	}
	.service a {
		width:158px;
		height:158px;
	}
	.service_in {
		font-size:14px;
	}

}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

	/*CountDown*/
	.global_count_wrapper {
		padding-top:68px;
		padding-bottom:61px;
	}
	.countdown-section {
		margin-right:10px;
		width:193px;
		height:154px;
		padding-top:21px;
		padding-bottom:0;
	}
	.countdown-amount {
		font-size: 90px;
		line-height: 92px;
		margin-bottom:3px;
	}
	.countdown-period {
		padding: 0 10px;
		font-size: 24px;
		line-height: 24px;
	}

	/* Rhomb */
	.rhomb_block.col3 {
		width:606px;
	}
	.rhomb_block.col4 {
		width:808px;
	}
	.rhomb,
	.team {
		width:193px;
		height:193px;
	}
	.team_avatar {
		width:273px;
		height:273px;
		margin-left:-40px;
		margin-top:-40px;
	}

	h2 {
		line-height:39px;
		font-size:30px;
	}
	.welcome_text p,
	.speaker_text p {padding-right:0;
	}
	.report {
		width:500px;
	}

	.post_preview iframe {
		height:360px;
	}

	/* Services */
	.services_block {
		margin-left:-31px;
		padding:30px 0 35px 0;
	}
	.services_block .odd .service {
		margin:0 41px 0 45px;
	}
	.services_block .even {
		margin-top:-48px;
	}
	.services_block .even .service {
		margin:0 45px 0 41px;
	}
	.service a {
		width:193px;
		height:193px;
	}
	.service_in {
		font-size:18px;
	}

}
/* make date buttons non-clickable */
.shortcode_tab_item_title {
    pointer-events: none !important;
}

/* presentation */
.presentation h3 {
    font-size: 20px;
    line-height: 26px;
    height: 52px;
    margin-bottom: 10px;
}
.presentation {
    margin-bottom: 30px;
    margin-top: 10px;
}
.slide-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;
}
.slide-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.slide-wrapper img {
  left: -2px;
  position: absolute;
  top: -3px;
  z-index: 5;
}
/*** Timeline ***/
/* The actual timeline (the vertical ruler) */
#timeline {
  background: #4CAF5B;
}
#timeline h2 {
  color: #fff;
	text-align: center;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
	padding: 30px 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.t-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.t-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #ddd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 5px 25px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.t-container h4 {
    font-size: 15px;
  }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .t-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .t-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}